<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MotorcycleTourManagment.Properties.Settings.ssdConnectionString"
            connectionString="Data Source=ainslie.noip.me;Initial Catalog=ssd;User ID=user;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>